html,
body {
    background-color: rgb(228, 228, 228);
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 101vw;
    margin-left: 0;
}

nav {
    padding: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 2.5vh;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0px 14px 24px -10px rgba(0,0,0,0.50);
}

nav>* {
    margin-left: 1%;
    margin-right: 1%;
}

nav>p:hover {
    cursor: pointer;
    font-weight: 1000;
}

.perfil {
    position: absolute;
    right: 6%;
}

.acoes{
    position: absolute;
    left: 1%;
    cursor: pointer;
}

#nomeDoUsuario{
    position: absolute;
    right: 11%;
}

th {
    padding: 3%;
    background-color: rgb(205, 205, 255);
}

td {
    text-align: center;
    border-radius: 12px;
}

td,
th,
p {
    cursor: default;
}

.calendario {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    overflow: hidden;
}

.calendario>table {
    width: 80%;
    height: 80%;
    border-radius: 12px;
    border-collapse: collapse;
    overflow: hidden;
    background-color: whitesmoke;
}

.data {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0%;
}

.data>button {
    background-color: white;
    border: 0;
    border-radius: 50%;
    height: 60%;
    width: 15%;
    background-color: rgb(205, 205, 255);
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.data>button:hover{
    background-color: rgb(183, 183, 250);
}

.compromisso{
    background-color: red;
}

.navegacao{
    position: absolute;
    left: 0;
    top: 0;
    background-color: whitesmoke;
    height: 97.7%;
    z-index: 10;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 2%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 2px 0px 13px 0px rgba(0,0,0,0.50);
    animation: entraNavegacao 0.09s;
}

.navegacaoInvisivel{
    display: none;
}

.navegacaoItem{
    width: 100%;
    border-radius: 12px;
    padding: 4%;
    margin-left: -1.5%;
    font-size: 15.8px;
}

.navegacaoItem:hover{
    background-color: rgb(194, 194, 194);
    cursor: pointer;
}

.botaoFechaNavegacao{
    cursor: pointer;
}