body,html{
    background-color: rgb(228, 228, 228);
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, button, select{
    width: 27.5%;
    margin-top: 2%;
    border-radius: 12px;
}

input, select{
    padding: 0.75%;
    border: 0.5px solid gray;
}

input:focus, select:focus{
    color: white;
    background-color: rgb(51, 51, 51);
}

button{
    background-color: rgb(34, 34, 34);
    border: 0;
    color: white;
    padding: 0.85%;
    cursor: pointer;
}

button:hover{
    background-color: rgb(15, 15, 15);
}

h1{
    margin-bottom: -1%;
}

h2{
    margin-bottom: 1%;
}

h1, h2{
    color: black;
}

/* .titulo{
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
} */