body,html{
    background-color: rgb(228, 228, 228);
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, button, select{
    width: 27.5%;
    margin-top: 2%;
    border-radius: 12px;
}

input, select{
    padding: 0.75%;
    border: 0.5px solid gray;
}

input:focus, select:focus{
    color: white;
    background-color: rgb(51, 51, 51);
}

button{
    font-size: 18px;
    background-color: rgb(34, 34, 34);
    border: 0;
    color: white;
    padding: 0.85%;
    cursor: pointer;
}

button:hover{
    background-color: rgb(15, 15, 15);
}

h1{
    margin-bottom: -1%;
}

h2{
    margin-bottom: 1%;
}

h1, h2{
    color: black;
}

a{
    font-size: 15px;
    margin-top: 1%;
    color: black;
}

.sair{
    position: absolute;
    left: 1%;
    top: 1%;
    background-color: whitesmoke;
    padding: 1.5%;
    width: 1%;
    height: 2%;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sair:hover{
    background-color: rgb(37, 37, 37);
    color: white;
    cursor: pointer;
}